services:
  db:
    image: postgres:16-alpine
    container_name: pg_saas_core
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - saas-network
      
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        user: saas
        uid: 1000
    image: saas_iot_app
    container_name: saas_iot_app
    restart: unless-stopped
    working_dir: /var/www
    environment:
      REDIS_HOST: redis
    volumes:
      - ./backend:/var/www
    networks:
      - saas-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: saas_iot_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - saas-network
    depends_on:
      - app  

  redis:
    image: redis:alpine
    container_name: pgsaas_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - saas-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pg_saas_admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - saas-network
    depends_on:
      - db

volumes:
  pgdata: 
  pgadmin_data:

networks:
  saas-network:
    driver: bridge